body {
    height: 100vh;
    display: grid;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    /*display: flex; /* Activa el modelo flexbox */
    width: 80%;
    max-width: 1200px;
    margin: auto;
   
    background-color: #ececec;

}


/* Contenedor con la imagen de fondo */
/*-- 1. INICIO ---------------------------------------------------------*/
._1_INICIO {
    background-image: url('https://cdn.pixabay.com/photo/2014/11/13/17/04/heart-529607_960_720.jpg'); /* Ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-position: center; /* Centra la imagen */
    height: 700px; /* Ocupa toda la altura de la ventana */
    display: grid;
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    color: white; /* Color de texto */
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5); /* Sombra para que el texto resalte */
    text-align: center;
}
.nosCasamos{
    font-size: 40px; /* Tamaño de fuente */
}
.nombresNovios{
    font-size: 80px; /* Tamaño de fuente */
    font-family: "Parisienne", serif;
    font-weight: 400;
    font-style: normal;

    color: white; /* Color de texto */
    text-shadow: 5px 5px 5px darkslategrey; /* Sombra para que el texto resalte */
    text-align: center;
}

/*-- 2. FRASE ---------------------------------------------------------*/
._2_FRASE{
    background-color: #ffcfad;
    height: 180px;
    display: grid;
    margin: 20 auto; /* Centra la página */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    display: grid;
}

/*-- 3. PADRES ---------------------------------------------------------*/
._3_PADRES{
    margin: 20 auto; /* Centra la página */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 700px; /* Ocupa toda la altura de la ventana */
    display: grid;
}


/*-- 4. DIAS QUE FALTAN ---------------------------------------------------------*/
._4_DIAS_FALTAN{
    margin: 20 auto; /* Centra la página */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: auto; /* Ocupa toda la altura de la ventana */
    display: grid;

    background-size: 30px;
    background-color: beige;
}
    #contador {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .tiempo {
        text-align: center;
    }
    .tiempo span {
        font-size: 40px;
        display: block;
    }
    .tiempo p {
        margin-top: 10px;
        font-size: 18px;    
    }

/*-- 5. DONDE Y CUANDO ---------------------------------------------------------*/
._5_DONDE_CUANDO{
    margin: 20 auto; /* Centra la página */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 700px; /* Ocupa toda la altura de la ventana */
    display: grid;
}

    #titulo{
        font-size: 50px; /* Tamaño de fuente */
        font-family: "Parisienne", serif;
        font-weight: 400;
        font-style: normal;
    }
