body {
    height: 100vh;
    display: grid;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    /*display: flex; /* Activa el modelo flexbox */
    width: 80%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0;
    background-color: white;

}


/* Contenedor con la imagen de fondo */
/*-- 1. INICIO ---------------------------------------------------------*/
._1_INICIO {
    position: relative; /* Posicionamiento necesario para el overlay */
    
    background-image: url('https://cdn.pixabay.com/photo/2021/11/12/01/40/wedding-6787691_1280.jpg'); /* Ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-position: center; /* Centra la imagen */
    height: 700px; /* Ocupa toda la altura de la ventana */
    display: grid;
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    color: white; /* Color de texto */
    text-shadow: 2px 2px 5px black; /* Sombra para que el texto resalte */
    text-align: center;
    font-size: 35px;

}
/* Capa oscura superpuesta */
._1_INICIO::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Oscurecimiento */
    opacity: 0.2; /* Ajusta la intensidad de la oscuridad (0.1 a 1) */
    z-index: 1; /* Coloca la capa debajo del contenido */
}

/* Asegúrate de que el contenido esté encima de la superposición */
._1_INICIO > * {
    position: relative;
    z-index: 2;
}
.nombresNovios{
    font-size: 50px; /* Tamaño de fuente */
    font-family: "Parisienne", serif;
    font-weight: 400;
    font-style: normal;

    color: white; /* Color de texto */
    text-shadow: 2px 2px 5px black; /* Sombra para que el texto resalte */
    text-align: center;
}
.fecha{

     font-family: "Crimson Text", serif;

}

/*-- 2. FRASE ---------------------------------------------------------*/
._2_FRASE{
    background-color: #e6d0b1;
    height: 180px;
    display: grid;
    margin: 20 auto; /* Centra la página */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    display: grid;
    padding: 60px;
    text-align: center;

     font-family: "IM Fell French Canon", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color:#8a6662;
}

/*-- 3. PADRES ---------------------------------------------------------*/
._3_PADRES{
    background-color: #ede0cf;
    margin: 20 auto; /* Centra la página */
    height: 700px; /* Ocupa toda la altura de la ventana */
    
}
#nomPad{
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-size: 35px;
}
#padres{
     font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}


/*-- 4. DIAS QUE FALTAN ---------------------------------------------------------*/
._4_DIAS_FALTAN{
    background-color: #ede0cf;
    margin: 20 auto; /* Centra la página */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: auto; /* Ocupa toda la altura de la ventana */
    display: grid;

    background-size: 30px;
}
    #contador {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .tiempo {
        text-align: center;
    }
    .tiempo span {
        font-size: 40px;
        display: block;
    }
    .tiempo p {
        margin-top: 10px;
        font-size: 18px;    
    }

/*-- 5. DONDE Y CUANDO ---------------------------------------------------------*/
._5_DONDE_CUANDO{
    background-color: #ede0cf;
    margin: 20 auto; /* Centra la página */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 700px; /* Ocupa toda la altura de la ventana */
    display: grid;
}

    #titulo{
        font-size: 50px; /* Tamaño de fuente */
        font-family: "Parisienne", serif;
        font-weight: 400;
        font-style: normal;
    }

._9_FINAL{

    position: relative; /* Posicionamiento necesario para el overlay */
    
    background-image: url('https://cdn.pixabay.com/photo/2021/09/06/05/55/love-6600904_1280.jpg'); /* Ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-position: center; /* Centra la imagen */
    height: 350px; /* Ocupa toda la altura de la ventana */
    display: grid;
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    color: white; /* Color de texto */

}
